@use "./common";
div.home {
  display: flex;
  justify-content: space-between;

  > div {
    width: 50%;

    &.text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      > span {
        align-self: flex-start;
        background-color: rgb(192, 166, 49);
        color: rgb(255, 255, 255);
        padding: 3px 8px;
        font-size: 12px;
        border-radius: 5px;
      }

      h3 {
        margin: 0;
        font-size: 50px;
        font-weight: 600;
        margin-block: 20px;
        color: rgb(68, 68, 68);
      }

      strong {
        margin: 0;
        padding: 0;
        color: rgb(68, 68, 68);
        font-size: 15px;
        margin-bottom: 30px;
      }

      div {
        &.button {
          display: flex;
          gap: 1.25rem;

          button {
            padding: 0.75rem 1.25rem;
            background-color: rgb(110, 87, 224);
            border: none;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
              background-color: rgb(0, 201, 255);
              color: rgb(255, 255, 255);
            }

            > i {
              margin-left: 10px;
            }
          }
        }

        &.icons {
          margin-top: 1rem;
          display: flex;
          gap: 1.75rem;
        }
      }
    }

    &.image {
      outline: solid 1px blue;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 300px;
      }
    }
  }
}
